target
.vscode
ci
crates/wildland-admin-manager/docker
crates/wildland-admin-manager/docker/**/*
crates/wildland-admin-manager/_temporary
crates/wildland-admin-manager/wildland_swift
.gitignore
.gitlab-ci.yml
bump.sh
COPYING
README.md
release.toml
